:root {
  --basic-black: #000000;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-darkwhite: #F1F5F7;
  --white: #FFFFFF;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  background-color: var(--basic-darkwhite);
}

.main-headline {
  font-size: 18px;
  line-height: 24px;
  /* width: 1200px;
  height: 42px; */
  color: var(--white);
  background-color: #293449;
}

.main-headline a {
  color: var(--white)
}

.main-headline-logo {
  width: 220px;
  height: 47px;
  background-color: var(--basic-red);
  display: block;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.main-headline-logo img {
  padding-top: 12px;
  padding-right: 57px;
  padding-bottom: 17px;
  padding-left: 55px;
}

.main-headline-logo:active {
  background-color: #BA2732;
}

.search-input {
  background-color: #293449;
  border: 0 solid var(--basic-black);
}

.main-headline-checkout {
  width: 150px;
  height: 42px;
  background-color: var(--basic-green);
  display: block;
}

.main-headline-checkout:hover,
.main-headline-checkout:focus {
  background-color: #5FBB2D;
}

.main-headline-bookmarks:active,
.main-headline-basket:active,
.main-headline-checkout:active {
  color: rgba(255, 255, 255, 0.5);
}

.main-header-information p {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
}

.contact-information a {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-red);
  border: 3px solid var(--white);
  padding-top: 7px;
  padding-right: 45px;
  padding-bottom: 8px;
  padding-left: 74px;
}

.contact-information address {
  font-size: 14px;
  font-style: normal;
  color: #32425C;
}

.user-navigation-list {
  list-style: none;
}

.user-navigation-item a{
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.user-navigation-item a:hover,
.user-navigation-item a:focus {
  color: var(--basic-red);
}

.user-navigation-item a:active {
  color: var(--basic-greylight);
}

.user-navigation-profile {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.user-navigation-output {
  color: var(--basic-greylight);
}

.user-navigation-output:hover,
.user-navigation-output:focus {
  color: var(--basic-grey);
}

.user-navigation-items a:active {
  color: var(--basic-greylight);
}

.user-cabinet-list li {
  list-style: none;
}

.user-cabinet-item a{
  font-size: 16px;
  line-height: 18px;
  color: #32425C;
}

.user-cabinet-item a:hover,
.user-cabinet-item a:focus {
  color: var(--basic-red)
}

.user-cabinet-item a:active {
  color: var(--basic-greylight);
}


.main-navigation {
  background-color: #32425C;
  box-shadow: inset 0px -5px 0px #293449;
}

.main-navigation a {
  font-size: 18px;
  color: var(--white);
}

.main-navigation a:hover,
.main-navigation a:focus {
  background-color: #293449;
}

.main-navigation a:active {
  opacity: 0.5;
}

.container h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.container p {
  font-family: 'PT Sans', Arial, sans-serif;
}

.slogan-item {
font-size: 18px;
line-height: 24px;
}

.slogan a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-red);
  padding: 10px 40px;
}

.contacts a:last-child {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-red);
  padding: 10px 61px;
}

.big-map {
  display: none;
}

.letter {
  display: none;
}

.page-footer {
  background-color: #32425C;
}

.footer-nav-list li {
  list-style: none;
}

.footer-nav-list a {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.footer-nav-list a:hover,
.footer-nav-list a:focus {
  color: var(--basic-darkwhite);
  text-decoration: underline;
}

.footer-nav-list a:active {
  color: var(--basic-darkwhite);
  opacity: 0.5;
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-darkwhite);
}

.footer-contacts address {
  font-style: normal;
}

.footer-contacts a {
  color: var(--basic-darkwhite);
}

.footer-nav-items li {
  list-style: none;
}

.footer-nav-items a {
  font-size: 18px;
  line-height: 24px;
  color: var(--special-yellowlight);
}

.footer-nav-items a:hover,
.footer-nav-items a:focus {
  text-decoration: underline;
}

.footer-nav-items a:active {
  opacity: 0.5;
}

.footer-social {
  background-color: #293449;
}

.copyright p {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.social-icon-list li {
  list-style: none;
}

.develop p {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.develop a {
  color: var(--special-yellowlight);
}

.develop a:hover,
.develop a:focus {
  text-decoration: underline;
}

.develop a:active {
  color: var(--basic-red);
}