:root {
  --basic-black: #000000;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-darkwhite: #F1F5F7;
  --white: #FFFFFF;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --white-opacity: rgba(225,225,225,.3);
  --graylight-opacity: rgba(197, 197, 197,.3);
  --graydark-opacity:rgba(169, 169, 169,.3);
  --black-opacity: rgba(0, 0, 0, .24);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

body {
  width: 100%;
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.clear-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  flex-direction: column;
  background-color: var(--basic-darkwhite);
}

.main-headline {
  margin-bottom: 46px;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  background-color: #293449;
}

.wrapper-headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 42px;
}

.main-headline a {
  display: block;
  color: var(--white)
}

.main-headline-logo {
  width: 220px;
  height: 47px;
  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 var(--black-opacity);
}

.main-headline-logo img {
  padding-top: 12px;
  padding-right: 57px;
  padding-bottom: 17px;
  padding-left: 55px;
}

.main-headline-logo:active {
  background-color: #BA2732;
}

.search-input {
  background-color: #293449;
  border: 0 solid var(--basic-black);
}

.main-headline-link {
  display: flex;
  justify-content: flex-end;
}

.main-headline-bookmarks {
  padding: 9px 25px;
}

.main-headline-basket {
  padding: 9px 25px;
}

.main-headline-bookmarks:active {
  background-color: #161D29;
}

.main-headline-basket:active {
  background-color: #161D29;
}

.main-headline-basket-filled {
  width: 136px;
  line-height: 42px;
  text-align: center;
  background-color: var(--basic-red);
}

.main-headline-checkout {
  width: 150px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  background-color: var(--basic-green);
}

.main-headline-checkout:hover,
.main-headline-checkout:focus {
  background-color: #5FBB2D;
}

.main-headline-bookmarks:active,
.main-headline-basket:active,
.main-headline-checkout:active {
  color: rgba(255, 255, 255, 0.5);
}

.wrapper-header-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.main-header-information p {
  width: 197px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
}

.contact-information a {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-red);
  border: 3px solid var(--white);
  padding-top: 7px;
  padding-right: 45px;
  padding-bottom: 8px;
  padding-left: 74px;
}

.contact-information address {
  font-size: 14px;
  font-style: normal;
  margin-top: 10px;
  text-align: center;
  color: #32425C;
}

.user-navigation-list {
  display: flex;
  width: 280px;
  justify-content: space-between;
}

.user-navigation-item a {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--white)
}

.sign-link {
  padding-top: 12px;
  padding-right: 27px;
  padding-bottom: 12px;
  padding-left: 45px;
}

.registration-link {
  padding: 12px 24px;
}

.user-navigation-items {
  padding: 12px 57px;
  background-color: var(--white);
}

.user-navigation-item a:hover,
.user-navigation-item a:focus {
  color: var(--basic-red);
}

.user-navigation-item a:active {
  color: var(--basic-greylight);
}

.user-navigation-profile {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.user-navigation-output {
  color: var(--basic-greylight);
}

.user-navigation-output:hover,
.user-navigation-output:focus {
  color: var(--basic-grey);
}

.user-navigation-items a:active {
  color: var(--basic-greylight);
}

.user-cabinet-list li {
  display: inline;
}

.user-cabinet-item a {
  font-size: 16px;
  line-height: 18px;
  color: #32425C;
}

.user-cabinet-item a:hover,
.user-cabinet-item a:focus {
  color: var(--basic-red)
}

.user-cabinet-item a:active {
  color: var(--basic-greylight);
}


.main-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #32425C;
  box-shadow: inset 0px -5px 0px #293449;
}

.main-navigation a {
  display: block;
  padding-top: 16px;
  padding-right: 26px;
  padding-bottom: 20px;
  padding-left: 35px;
  font-size: 18px;
  color: var(--white);
}

.main-navigation a:hover,
.main-navigation a:focus {
  background-color: #293449;
}

.main-navigation a:active {
  opacity: 0.5;
}

.main-heading {
  background-color: var(--basic-darkwhite);
}

.heading {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425C;
  font-weight: normal;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;
  margin: 0;
}

.assortment-box {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: var(--white);
}

.materials-block {
  background-color: var(--special-yellow);
}

.tools-block {
  background-color: var(--special-blue);
}

.machinery-block {
  background-color: var(--special-lilac);
}

.discounts-block {
  background-color: var(--special-greenlight);
}

.delivery-block {
  background-color: #FFC047;
}

.assortment-box a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--white-opacity);
}

.assortment-box a:hover,
.assortment-box a:focus {
  background-color: var(--graylight-opacity);

}

.assortment-box a:active {
  background-color: var(--graydark-opacity);
}

.assortment-sliders h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white);
}

.assortment-sliders {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.hammers {
  background-image: url(../img/slider-pic.jpg);
}

.drill {
  background-image: url(../img/slider-pic2.jpg);
}

.assortment-sliders a {
  padding-top: 11px;
  padding-right: 46px;
  padding-bottom: 9px;
  padding-left: 46px;
  background-color: var(--basic-red);
  color: var(--white);
}

.assortment-sliders a:hover,
.assortment-sliders a:focus {
  background-color: var(--basic-red);
}

.assortment-sliders a:active {
  background-color: #BA2732;
}

.popular {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 19px;
  background-color: #F9F5F0;
}

.popular h2 {
  margin: 0;
}

.popular a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 11px;
  padding-right: 24px;
  padding-bottom: 9px;
  padding-left: 24px;
  background-color: var(--basic-red);
  color: var(--white);
}

.manufacturers li {
  border: 1px solid #EAEAEA;
}

.manufacturers li:hover,
.manufacturers li:focus,
.manufacturers li:active {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.manufacturers li:active {
  opacity: 0.5;
}

.service {
  background-color: var(--basic-darkwhite);
}

.service p {
  font-family: 'PT Sans', Arial, sans-serif;
}

.service h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.button-service {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--white);
  background-color: #32425C;
  border: none;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.button-service:hover,
.button-service:focus {
  background-color: #293449;
}

.button-service:focus-within {
  background-color: var(--white);
  color: #32425C;
  box-shadow: 0px 1px 0px #FFFFFF, inset 0px 1px 0px #FFFFFF;
  outline: 0;
}

.delivery h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425C;
}

.guarantee h2 {
  font-size: 36px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425C;
}

.credit h2 {
  font-size: 36px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425C;
}

.button-credit {
  padding-top: 13px;
  padding-right: 44px;
  padding-bottom: 14px;
  padding-left: 46px;
  border: none;
  border-radius: 2px;
  background-color: var(--basic-red);
  color: var(--white);
}

.button-credit:hover,
.button-credit:focus {
  outline: none;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.breadcrumbs li {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.breadcrumbs a {
  color: inherit
}

.main-filter {
  width: 220px;
}

.filter {
  font-family: 'PT Sans', Arial, sans-serif;
}

.subtitle {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
}

.filter-subtitle {
  background-color: #F7F3EC;
}

.filter fieldset {
  margin-bottom: 45px;
  border: none;
}

.filter-box legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-list li {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-button {
  padding: 10px 79px;
  background-color: white;
}

.sorting {
  font-family: 'PT Sans', Arial, sans-serif;
  text-transform: uppercase;
  background-color: #F7F3EC;
  display: flex;
  align-items: center;
  width: 700px;
  margin-bottom: 28px;
}

.sorting-list {
  display: flex;
}

.sorting-list li {
  margin-left: 40px; /* чтоб выглядело прилично */
}

.sorting-list a {
  font-size: 13px;
  line-height: 17px;
  color: rgba(0, 0, 0, .3);
  border-bottom: 1px dotted var(--basic-red);
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: var(--basic-black);
  border-bottom: 2px solid var(--basic-red);
}

.sorting-list .sorting-list-price {
  border-bottom: none;
  color: var(--basic-red);
}

.knob {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #E5E5E5;
}

.number-list {
  display: flex;
}

.number-link {
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  border-radius: 2px;
  color: var(--basic-black);
}

.number-next {
  padding-right: 30px;
  padding-left: 30px;
}

.review {
  font-family: 'PT Sans', Arial, sans-serif;
  background-color: var(--basic-darkwhite);
}

.review h2 {
  font-family: inherit;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.number-link:focus-within {
  background-color: var(--basic-red);
  color: var(--white);
}

.number-list a:hover,
.number-list a:focus {
  border: 1px solid var(--basic-greylight);
}

.number-list a:active {
  border: 1px solid var(--basic-red);
}

.wrapper-products {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.products {
  display: grid;
  width: 700px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 48px;
  grid-template-columns:
    1fr 1fr 1fr;
  gap: 18px 20px;
}

.card-product {
  font-family: 'PT Sans', Arial, sans-serif;
  border: 1px solid #EAEAEA;
  text-align: center;
  font-weight: bold;
  width: 220px;
}

.card-product:hover,
.card-product:focus {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.product-add a {
  display: none;
}

.product-buy {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--white);
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 53px;
  background-color: var(--basic-green);
  box-shadow: 0px 3px 0px #367315;
  border-radius: 2px;
}

.product-buy:hover,
.product-buy:focus {
  background-color: #5FBB2D;
}

.product-buy:active {
  background-color: #518534;
}

.product-bookmarks {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  padding-top: 10px;
  padding-right: 34px;
  padding-bottom: 10px;
  padding-left: 33px;
  text-transform: uppercase;
  color: #32425C;
  border: 3px solid #63A63E;
  border-radius: 2px;
  box-sizing: border-box;
}

.product-bookmarks:hover,
.product-bookmarks:focus {
  border: 3px solid #32425C;
}

.product-bookmarks:active {
  opacity: 0.5;
}

.title-card {
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.card-product del {
  font-size: 17px;
  line-height: 18px;
  color: #A9A9A9;
}

.new-price {
  font-size: 17px;
  line-height: 18px;
  color: var(--white);
}

.container {
  display: flex;
  width: 940px;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 70px;
}

.container h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 24px;
}

.container p {
  font-family: 'PT Sans', Arial, sans-serif;
}

.slogan {
  width: 460px;
}

.slogan-item {
  font-size: 18px;
  line-height: 24px;
  margin-top: 1px;
  margin-bottom: 12px;
}

.slogan a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-red);
  padding: 10px 40px;
  margin-top: 20px;
}

.contacts {
  width: 300px;
}

.contacts p {
  margin-bottom: 32px;
}

.contacts a:last-child {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-red);
  padding: 10px 61px;
  margin-top: 25px;
}

.big-map {
  display: none;
}

.letter {
  display: none;
}

.basket-box {
  display: none;
}

.page-footer {
  background-color: #32425C;
}

.footer-container {
  margin-bottom: 19px;
}

.footer-nav-list a {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.footer-nav-list a:hover,
.footer-nav-list a:focus {
  color: var(--basic-darkwhite);
  text-decoration: underline;
}

.footer-nav-list a:active {
  color: var(--basic-darkwhite);
  opacity: 0.5;
}

.main-footer-logo {
  width: 220px;
  height: 63px;
  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 var(--black-opacity);
}

.main-footer-logo img {
  width: 138px;
  height: 23px;
  padding-top: 20px;
  padding-right: 41px;
  padding-bottom: 25px;
  padding-left: 41px;
}

.footer-nav-list {
  display: flex;
  width: 546px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  align-items: flex-end;
}

.contact-container {
  display: flex;
  width: 940px;
  justify-content: space-between;
  margin-bottom: 54px;
}

.footer-nav-items {
  display: flex;
  width: 523px;
  justify-content: space-between;
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-darkwhite);
}

.footer-contacts address {
  font-style: normal;
}

.footer-contacts a {
  color: var(--basic-darkwhite);
}

.footer-nav-items a {
  font-size: 18px;
  line-height: 24px;
  color: var(--special-yellowlight);
}

.footer-nav-items a:hover,
.footer-nav-items a:focus {
  text-decoration: underline;
}

.footer-nav-items a:active {
  opacity: 0.5;
}

.footer-social {
  background-color: #293449;
}

.wrapper-footer-social {
  display: flex;
  justify-content: space-between;

}

.copyright p {
  width: 227px;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.social-icon-list {
  display: flex;
}

.develop {
  display: flex;
  width: 286px;
  justify-content: space-between;
}

.develop p {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.develop a {
  color: var(--special-yellowlight);
}

.develop a:hover,
.develop a:focus {
  text-decoration: underline;
}

.develop a:active {
  color: var(--basic-red);
}