:root {
  --basic-black: #000000;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-darkwhite: #F1F5F7;
  --white: #FFFFFF;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --white-opacity: rgba(225,225,225,.3);
  --graylight-opacity: rgba(197, 197, 197,.3);
  --graydark-opacity:rgba(169, 169, 169,.3);
  --black-opacity: rgba(0, 0, 0, .24);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

body {
  width: 100%;
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.clear-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  flex-direction: column;
  background-color: var(--basic-darkwhite);
}

.main-headline {
  margin-bottom: 46px;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  background-color: #293449;
}

.wrapper-headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 42px;
}

.main-headline a {
  display: block;
  color: var(--white)
}

.main-headline-logo {
  width: 220px;
  height: 47px;
  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 var(--black-opacity);
}

.main-headline-logo img {
  padding-top: 12px;
  padding-right: 57px;
  padding-bottom: 17px;
  padding-left: 55px;
}

.main-headline-logo:active {
  background-color: #BA2732;
}

.main-headline-search {
  position: relative;
  height: 100%;
}

.search-input:focus .search-icon {
  fill: var(--basic-red);
}

.search-icon {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 50%;
  transform: translateY(-50%);
  left: 17px;
  fill: var(--white);
  opacity: .3;
}

.search-input::placeholder {
  font-family: 'Cuprum', Arial, sans-serif;
  color: var(--white);
}

.search-input:focus {
  background-color: var(--white);
  outline: none;
}

.search-icon:hover,
.search-icon:focus {
  opacity: 1;
}

.search-input {
  background-color: #293449;
  border: 0 solid var(--basic-black);
  width: 270px;
  height: 100%;
  padding-left: 42px
}

.search-input-catalog {
  width: 284px;
}

.main-headline-link {
  display: flex;
}

.main-headline-bookmarks {
  position: relative;
  min-width: 83px;
  padding-top: 9px;
  padding-right: 24px;
  padding-bottom: 9px;
  padding-left: 43px;
}

.main-headline-bookmarks::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  top: 13px;
  left: 20px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.main-headline-basket {
  position: relative;
  min-width: 75px;
  padding-top: 9px;
  padding-right: 26px;
  padding-bottom: 9px;
  padding-left: 49px;
}

.main-headline-basket::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 13px;
  left: 26px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.main-headline-basket-filled {
  width: 136px;
  padding: 0;
  padding-top: 9px;
  padding-left: 35px;
  background-color: var(--basic-red);
  box-sizing: border-box;
}

.main-headline-basket-filled::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 13px;
  left: 12px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.main-headline-bookmarks:hover::before,
.main-headline-bookmarks:focus::before {
  opacity: 1;
}

.main-headline-bookmarks:active {
  background-color: #161D29;
}

.main-headline-bookmarks:active::before {
  background-color: #161D29;
  opacity: 0.3;
}

.main-headline-basket:hover::before,
.main-headline-basket:focus::before {
  opacity: 1;
}

.main-headline-basket:active {
  background-color: #161D29;
}

.main-headline-basket:active::before {
  opacity: 0.3;
  background-color: #161D29;
}

.main-headline-checkout {
  width: 150px;
  line-height: 42px;
  text-align: center;
  background-color: var(--basic-green);
}

.main-headline-checkout:hover,
.main-headline-checkout:focus {
  background-color: #5FBB2D;
}

.main-headline-bookmarks:active,
.main-headline-basket:active,
.main-headline-checkout:active {
  color: rgba(255, 255, 255, 0.5);
}

.wrapper-header-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.main-header-information p {
  width: 197px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
}

.contact-information a {
  position: relative;
  display: block;
  box-sizing: border-box;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-red);
  border: 3px solid var(--white);
  padding-top: 7px;
  padding-right: 45px;
  padding-bottom: 8px;
  padding-left: 74px;
}

.contact-information a::before {
  content: "";
  position: absolute;
  width: 17.5px;
  height: 19px;
  top: 13px;
  left: 39px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contact-information address {
  font-size: 14px;
  font-style: normal;
  margin-top: 10px;
  text-align: center;
  color: #32425C;
}

.user-navigation-list {
  display: flex;
  width: 280px;
  justify-content: space-between;
}

.user-navigation-item a {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--white)
}

.user-navigation-profile {
  display: block;
  position: relative;
}

.user-navigation-output {
  position: relative;
}

.user-navigation-output::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  top: 1px;
  right: -39px;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-navigation-profile::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  top: 1px;
  left: -39px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-navigation-output:hover::before,
.user-navigation-output:focus::before {
  opacity: 1;
}

.user-navigation-output:active::before {
  opacity: 0.3;
}

.user-navigation-profile:hover::before,
.user-navigation-profile:focus::before {
  opacity: 1;
}

.user-navigation-profile:active::before {
  opacity: 0.3;
}

.sign-link {
  position: relative;
  padding-top: 12px;
  padding-right: 27px;
  padding-bottom: 12px;
  padding-left: 45px;
}

.sign-link::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 17px;
  top: 14px;
  left: 19px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.sign-link:hover::before,
.sign-link:focus::before {
  opacity: 1;
}

.sign-link:active::before {
  opacity: 0.3;
}

.registration-link {
  padding: 12px 24px;
}

.user-navigation-items {
  display: flex;
  padding: 12px 57px;
  background-color: var(--white);
}

.user-navigation-item a:hover,
.user-navigation-item a:focus {
  color: var(--basic-red);
}

.user-navigation-item a:active {
  color: var(--basic-greylight);
}

.user-navigation-profile {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.user-navigation-output {
  color: var(--basic-greylight);
}

.user-navigation-output:hover,
.user-navigation-output:focus {
  color: var(--basic-grey);
}

.user-navigation-items a:active {
  color: var(--basic-greylight);
}

.user-cabinet-list {
  display: flex;
  width: 210px;
  justify-content: space-between;
  padding-right: 45px;
  padding-left: 45px;
  margin-top: 7px;
  text-align: center;
}

.personal-account {
  position: relative;
}

.personal-account::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  top: 10px;
  left: -17px;
  background-color: #32425C;
  background-position: 0 0;
}

.user-cabinet-item a {
  font-size: 16px;
  line-height: 18px;
  color: #32425C;
}

.personal-account:hover::before,
.personal-account:focus::before {
  background-color: var(--basic-red);
}

.personal-account:active::before {
  background-color: var(--basic-greylight);
}

.user-cabinet-item a:hover,
.user-cabinet-item a:focus {
  color: var(--basic-red);
}

.user-cabinet-item a:active {
  color: var(--basic-greylight);
}


.main-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #32425C;
  box-shadow: inset 0px -5px 0px #293449;
}

.main-navigation a {
  display: block;
  padding-top: 16px;
  padding-right: 26px;
  padding-bottom: 20px;
  padding-left: 35px;
  font-size: 18px;
  color: var(--white);
}

.main-navigation a:hover,
.main-navigation a:focus {
  background-color: #293449;
}

.main-navigation a:active {
  opacity: 0.5;
}

.main-wrapper {
  padding-top: 21px;
}

.new {
  position: absolute;
  width: 92px;
  height: 27px;
  font-size: 14px;
  line-height: 27px;
  top: 8px;
  right: -25px;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;
  background-color: var(--basic-red);
  transform: rotate(45deg);
}

.assortment {
  display: grid;
  width: 940px;
  height: 409px; /*временно для общего вида*/
  margin-top: 59px;
  margin-bottom: 59px;
  grid-template-columns:
    1fr 1fr 1fr;
  grid-template-rows:
    1fr 1fr 1fr;
  gap: 20px;
}

.assortment-box {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 21px;
  padding-left: 22px;
  color: var(--white);
  position: relative;
}

.assortment-box p {
  margin: 0;
  margin-bottom: 14px;
}

.materials-block {
  padding-top: 20px;
  padding-bottom: 21px;
  padding-left: 22px;
  background-color: var(--special-yellow);
  position: relative;
  overflow: hidden;
}

.materials-block a {
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 23px;
}

.materials-block::after {
  content: "";
  position: absolute;
  width: 44px;
  height: 65px;
  top: 31px;
  right: 43px;
  background-image: url(../img/icon-materials.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.tools-block {
  background-color: var(--special-blue);
}

.tools-block a {
  padding: 10px 26px;
}

.tools-block::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 61px;
  top: 34px;
  right: 31px;
  background-image: url(../img/icon-tool.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.machinery-block {
  background-color: var(--special-lilac);
}

.machinery-block a {
  padding-top: 10px;
  padding-right: 31px;
  padding-bottom: 10px;
  padding-left: 30px;
}

.machinery-block::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 62px;
  top: 31px;
  right: 31px;
  background-image: url(../img/icon-mechanism.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.discounts-block {
  background-color: var(--special-greenlight);
}

.discounts-block a {
  padding-top: 10px;
  padding-right: 23px;
  padding-bottom: 10px;
  padding-left: 22px;
}

.discounts-block::after {
  content: "";
  position: absolute;
  width: 59px;
  height: 72px;
  top: 26px;
  right: 45px;
  background-image: url(../img/icon-discount.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.delivery-block {
  background-color: #FFC047;
}

.delivery-block a {
  padding-top: 10px;
  padding-right: 37px;
  padding-bottom: 10px;
  padding-left: 36px;
}

.delivery-block::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 63px;
  top: 32px;
  right: 31px;
  background-image: url(../img/icon-delivery.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.assortment-box a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--white-opacity);
}

.assortment-box a:hover,
.assortment-box a:focus {
  background-color: var(--graylight-opacity);

}

.assortment-box a:active {
  background-color: var(--graydark-opacity);
}

.assortment-sliders h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  padding-top: 23px;
  padding-bottom: 5px;
  padding-left: 24px;
  margin: 0;
  text-transform: uppercase;
  color: var(--white);
}

.assortment-sliders p {
  margin: 0;
  padding-bottom: 16px;
  padding-left: 24px;
}

.assortment-sliders {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  position: relative;
}

.slider-shadow {
  background: rgba(0, 0, 0, 0.25);
}

.hammers {
  width: 100%;
  height: 100%;
  background-image: url(../img/slider-pic.jpg);
}

.drill {
  width: 100%;
  height: 100%;
  background-image: url(../img/slider-pic2.jpg);
  display: none;
}

.assortment-sliders a {
  position: absolute;
  bottom: 27px;
  left: 24px;
  padding-top: 11px;
  padding-right: 46px;
  padding-bottom: 9px;
  padding-left: 46px;
  background-color: var(--basic-red);
  color: var(--white);
}

.indicator-box {
  position: absolute;
  width: 30px;
  height: 10px;
  left: 295px;
  top: 220px;
  display: flex;
  justify-content: space-between;
}

.assortment-sliders a:hover,
.assortment-sliders a:focus {
  background-color: #CA2C37;
}

.assortment-sliders a:active {
  background-color: #BA2732;
}

.assortment-sliders::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 40px;
  top: 122px;
  left: 24px;
  background-image: url(../img/icon-left.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.indicator {
  width: 6px;
  height: 6px;
  background-color: var(--basic-red);
  border: 2px solid var(--white);
  border-radius: 5px;
}

.indicator-left {
  background-color: var(--white);
}

.assortment-sliders::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 40px;
  top: 122px;
  right: 20px;
  background-image: url(../img/icon-right.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.popular-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 19px;
  background-color: #F9F5F0;
}

.popular-items h2 {
  margin: 0;
}

.popular-items a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 11px;
  padding-right: 24px;
  padding-bottom: 9px;
  padding-left: 24px;
  background-color: var(--basic-red);
  color: var(--white);
}

.popular-manufacturers {
  margin-top: 70px;
  margin-bottom: 70px;
}

.manufacturers {
  height: 145px;
  position: relative;
  border: 1px solid #EAEAEA;
}

.manufacturers-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.manufacturers:hover,
.manufacturers:focus,
.manufacturers:active {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.manufacturers:active {
  opacity: 0.5;
}

.service {
  background-color: var(--basic-darkwhite);
  padding-bottom: 98px;
}

.service-heading {
  padding-top: 64px;
  margin-bottom: 70px;
}

.service p {
  font-family: 'PT Sans', Arial, sans-serif;
}

.service h2 {
  margin-top: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.button-service {
  width: 240px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;
  padding-top: 13.5px;
  padding-bottom: 17.5px;
  padding-left: 22px;
  color: var(--white);
  background-color: #32425C;
  border: none;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  cursor: pointer;
}

.button-service-delivery {
  color: #32425C;
  background-color: var(--white);
  box-shadow: 0px 1px 0px #FFFFFF, inset 0px 1px 0px #FFFFFF;
}

.button-service:hover,
.button-service:focus {
  background-color: #293449;
  color: var(--white);
}

.button-service:active {
  background-color: var(--white);
  color: #32425C;
  box-shadow: 0px 1px 0px #FFFFFF, inset 0px 1px 0px #FFFFFF;
  outline: 0;
}

.options {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-bottom: 4px;
  position: relative;
}

.options-review {
  position: relative;
  width: 630px;
}

.strip {
  position: absolute;
  top: -47px;
  left: 230px;
  background-image: url(../img/line.png);
  width: 10px;
  height: 279px;
}

/* .delivery {
  display: none;
} */

.delivery::before {
  content: "";
  width: 468px;
  height: 261px;
  top: 18px;
  right: 0;
  position: absolute;
  background-image: url(../img/background-delivery.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.delivery h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425C;
}

.guarantee {
  display: none;
}

.guarantee::before {
  content: "";
  width: 389px;
  height: 283px;
  right: 0;
  position: absolute;
  background-image: url(../img/background-guarantee.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.guarantee h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425C;
}

.credit {
  display: none;
}

.credit::before {
  content: "";
  width: 465px;
  height: 285px;
  right: 0;
  position: absolute;
  background-image: url(../img/background-credit.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.credit h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425C;
}

.button-credit {
  text-transform: uppercase;
  padding-top: 13px;
  padding-right: 44px;
  padding-bottom: 14px;
  padding-left: 46px;
  margin-top: 13px;
  border: none;
  border-radius: 2px;
  background-color: var(--basic-red);
  color: var(--white);
}

.button-credit:hover,
.button-credit:focus {
  outline: none;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-right: 41px;
  margin-bottom: 20px;
  padding: 0;
}

.breadcrumbs li:last-child::after {
  background-image: none;
}

.main-heading {
  background-color: var(--basic-darkwhite);
}

.heading {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425C;
  font-weight: normal;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;
}

.breadcrumbs-home {
  display: block;
  width: 14px;
  height: 12px;
  margin-top: 3px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
}

.breadcrumbs li {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-right: 41px;
  text-transform: uppercase;
  color: var(--basic-black);
  position: relative;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  right: -25px;
  top: 3px;
  width: 8px;
  height: 12px;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after:last-child {
  display: none;
}

.breadcrumbs a {
  color: inherit
}

.main-filter {
  width: 220px;
}

.filter {
  font-family: 'PT Sans', Arial, sans-serif;
}

.filter fieldset {
  padding: 0;
}

.subtitle {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
}

.filter-subtitle {
  background-color: #F7F3EC;
}

.filter-box {
  border: none;
}

.filter-item {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  border: none;
  width: 220px;
  margin-top: 14px;
  margin-bottom: 25px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-top: 11px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background: #F7F3EC;
  border-radius: 4px;
}

.range-controls .scale {
  height: 2px;
  background: #D7DCDE;
}

.range-controls .bar {
  width: 85%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 29px;
  left: 0;
  width: 20px;
  height: 22px;
  padding: 0;
  background-image: url(../img/filter-button.svg);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-controls input {
  width: 95px;
  padding: 10px;
  text-align: center;
  color: var(--basic-black);
  border: none;
  border-radius: 4px;
  background: #F7F3EC;
  box-sizing: border-box;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-box-manufacturers {
  padding-top: 16px;
  padding-bottom: 27px;
  margin-bottom: 18px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.filter-box-manufacturers li {
  margin-bottom: 20px;
}

.filter-box-manufacturers legend {
  margin-bottom: 15px;
}

.filter-box-power legend {
  margin-bottom: 21px;
}

.filter-box-power li {
  margin-bottom: 22.5px;
}

.filter-list li {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  padding-left: 35px;
}

.filter-list li:last-child {
  margin: 0;
}

.filter-input + label {
  position: relative;
  cursor: pointer;
}

.filter-input + label::after {
  content: '';
  position: absolute;
  left: -35px;
  top: -2px;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.filter-input-checkbox:checked + label::after {
  width: 27px;
  background-image: url(../img/checkbox-on.svg);
}

.filter-input:hover + label::after,
.filter-input:focus + label::after {
  opacity: 1;
}

.filter-input-checkbox:disabled + label::after {
  opacity: 0.3;
}

.separator {
  width: 30px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  margin: 0;
}

.filter-rage + label {
  position: relative;
  cursor: pointer;
}

.filter-rage + label::after {
  content: '';
  position: absolute;
  left: -35px;
  top: -2px;
  width: 26px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.filter-rage:checked + label::after {
  background-image: url(../img/radio-on.svg);
}

.filter-rage:hover + label::after,
.filter-rage:focus + label::after {
  opacity: 1;
}

.filter-rage:disabled + label::after {
  opacity: 0.3;
}

.filter-button {
  padding: 10px 79px;
  margin-top: 37px;
  background-color: white;
}

.inner-wrapper {
  padding-bottom: 59px;
}

.sorting {
  font-family: 'PT Sans', Arial, sans-serif;
  text-transform: uppercase;
  background-color: #F7F3EC;
  display: flex;
  align-items: center;
  width: 700px;
  margin-bottom: 28px;
  position: relative;
}

.sorting-list {
  display: flex;
  margin-left: 140px;
  margin-right: 46px;
}

.sorting-list li {
  margin-right: 65px;
}

.sorting-list li:first-child {
  margin-right: 70px;
}

.sorting-list li:last-child {
  margin-right: 0;
}

.sorting-list a {
  font-size: 13px;
  line-height: 17px;
  color: rgba(0, 0, 0, .3);
  border-bottom: 1px dotted var(--basic-red);
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: var(--basic-black);
  border-bottom: 2px solid var(--basic-red);
}

.sorting-list .sorting-list-price {
  border-bottom: none;
  color: var(--basic-red);
}

.dir-up {
  fill: var(--basic-red);
}

.dir-down {
  margin-left: 21px;
  opacity: 0.3;
}

.direction-choice:hover,
.direcdirection-choicetion:focus {
  opacity: 1;
}

.direction-choice:active {
  fill: var(--basic-red);
}

.knob {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #E5E5E5;
}

.number-list {
  display: flex;
  margin-top: 48px;
}

.number-link {
  display: block;
  margin-left: 10px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  border-radius: 2px;
  color: var(--basic-black);
  box-sizing: border-box;
}
.number-link-first {
  color: var(--white);
  background-color: var(--basic-red);
  margin: 0;
}

.number-next {
  padding-right: 30px;
  padding-left: 30px;
}

.review {
  font-family: 'PT Sans', Arial, sans-serif;
  background-color: var(--basic-darkwhite);
  margin: 0;
  padding-bottom: 68px;
}

.review h2 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  margin-top: 0;
  text-transform: uppercase;
}

.number-link:focus-within {
  background-color: var(--basic-red);
  color: var(--white);
}

.number-list a:hover,
.number-list a:focus {
  border: 1px solid var(--basic-greylight);
}

.number-list a:active {
  border: 1px solid var(--basic-red);
}

.wrapper-products {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.all-products {
  display: grid;
  width: 700px;
  grid-template-columns:
    1fr 1fr 1fr;
  gap: 18px 20px;
}

.popular {
  display: grid;
  width: 940px;
  grid-template-columns:
   1fr 1fr 1fr 1fr;
  gap: 20px;
}

.popular .popular-items {
  grid-column-start: 1;
  grid-column-end: 5;
}

.card-product {
  position: relative;
  font-family: 'PT Sans', Arial, sans-serif;
  border: 1px solid #EAEAEA;
  font-weight: bold;
  margin: 0;
  padding-top: 178px;
  padding-right: 17px;
  padding-bottom: 21px;
  padding-left: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.card-product:hover img,
.card-product:focus img {
  display: none;
}

.card-product:hover .product-add,
.card-product:focus .product-add {
  display: grid;
}

.bfg-nine {
  position: absolute;
  top: 6px;
  right: 18px;
  left: 18px;
}

.bfg-six {
  position: absolute;
  top: 22px;
  right: 43px;
  left: 33px
}

.bfg-three {
  position: absolute;
  top: 29px;
  right: 53px;
  left: 40px
}

.bfg-two {
  position: absolute;
  top: 29px;
  right: 53px;
  left: 40px
}

.card-product:hover,
.card-product:focus {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.new-price-product del {
  margin-top: 7px;
  margin-bottom: 13px;
}

.actual-product .new-price {
  margin-top: 39px;
}

.product-add {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    border-radius: 2px;
    width: 135px;
    grid-template-rows:
    38px 38px;
    row-gap: 10px;
    position: absolute;
    top: 38px;
    right: 44px;
    left: 41px;
    display: none;
}

.product-buy {
  position: relative;
  color: var(--white);
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 53px;
  text-align: center;
  background-color: var(--basic-green);
  box-shadow: inset 0 -3px 0 #367315;
}

.product-buy::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 10px;
  left: 30px;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.product-buy:hover,
.product-buy:focus {
  background-color: #5FBB2D;
}

.product-buy:active {
  background-color: #518534;
}

.product-bookmarks {
  padding-top: 10px;
  padding-right: 31px;
  padding-bottom: 10px;
  padding-left: 30px;
  color: #32425C;
  border: 3px solid #63A63E;
  box-sizing: border-box;
}

.product-bookmarks:hover,
.product-bookmarks:focus {
  border: 3px solid #32425C;
}

.product-bookmarks:active {
  opacity: 0.5;
}

.title-card {
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  color: var(--basic-black);
}

.card-product del {
  font-size: 17px;
  line-height: 18px;
  color: #A9A9A9;
}

.new-price {
  font-size: 17px;
  line-height: 18px;
  padding-top: 10px;
  padding-right: 44px;
  padding-bottom: 10px;
  padding-left: 32px;
  color: var(--white);
  background-color: var(--basic-red);
}

.container {
  display: flex;
  width: 940px;
  justify-content: space-between;
  margin: 70px auto;
}

.container h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
}

.container p {
  font-family: 'PT Sans', Arial, sans-serif;
  margin-top: 24px;
  margin-bottom: 0;
}

.slogan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 460px;
}

.slogan-list {
  padding-left: 37px;
}

.slogan-item {
  font-size: 18px;
  line-height: 24px;
  margin-top: 1px;
  margin-bottom: 12px;
}

.slogan a {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-red);
  padding: 10px 40px;
}

.slogan-list li {
  position: relative;
}

.slogan-list li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 14px;
  left: -37px;
  background-color: var(--basic-red);
}

.contacts {
  width: 300px;
}

.contacts img {
  display: block;
}

.contacts p {
  margin-bottom: 32px;
}

.contacts a:last-child {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-red);
  padding: 10px 61px;
  margin-top: 25px;
}

.big-map {
  width: 943px;
  height: 449px;
  display: none;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup::before {
  content: "";
  width: 100%;
  height: 7px;
  background-color: var(--basic-red);
  background-position: 0 0;
  position: absolute;
}

.letter {
  width: 620px;
  margin: 0 auto;
  background-color: var(--white);
  box-shadow: 0 4px 20px rgba(0, 0, 0, .15);
  display: none;
}

.letter-form {
  display: flex;
  width: 460px;
  padding-top: 46px;
  padding-right: 80px;
  padding-bottom: 37px;
  padding-left: 80px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.letter-item {
  width: 220px;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 13px;
}

.data-input {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  color: #A9A9A9;
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 11px;
}

.letter-item input {
  width: 220px;
  padding-top: 7px;
  padding-right: 9px;
  padding-bottom: 7px;
  padding-left: 12px;
}

.text-letter {
  width: 460px;
  height: 114px;
  resize: none;
  padding-top: 6px;
  padding-left: 12px;
}

letter-item-text {
  margin-bottom: 0;
}

.popup-footer {
  background-color: #F4F4F4;
  padding: 37px 80px;
}

.popup-footer button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-red);
  padding: 10px 199px;
  border: 0;
  cursor: pointer;
}

.basket-box {
  width: 620px;
  background-color: var(--white);
  box-shadow: 0 4px 20px rgba(0, 0, 0, .15);
  position: fixed;
  display: none;
}

.basket-box p {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding-top: 73px;
  padding-bottom: 67px;
}

.basket-box p::before {
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  left: 81px;
  top: 55px;
  background-image: url(../img/icon-mark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.popup-footer-basket-box {
  display: flex;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 37px 113px;
  background-color: #F4F4F4;
  border: 0;
}

.close {
  position: absolute;
  width: 21px;
  height: 21px;
  right: 11px;
  top: 18px;
  background-image: url(../img/icon-close.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  border: 0;
}

.popup-link {  
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-red);
  padding: 10px 46px;
  margin-right: 10px;
}

.basket-box-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--white);
  padding: 10px 32px;
  border: 0;
  cursor: pointer;
}

.page-footer {
  background-color: #32425C;
}

.footer-container {
  margin-top: 0;
  margin-bottom: 19px;
}

.footer-nav-list a {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.footer-nav-list a:hover,
.footer-nav-list a:focus {
  color: var(--basic-darkwhite);
  text-decoration: underline;
}

.footer-nav-list a:active {
  color: var(--basic-darkwhite);
  opacity: 0.5;
}

.main-footer-logo {
  width: 220px;
  height: 63px;
  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 var(--black-opacity);
}

.main-footer-logo img {
  width: 138px;
  height: 23px;
  padding-top: 20px;
  padding-right: 41px;
  padding-bottom: 25px;
  padding-left: 41px;
}

.footer-nav-list {
  display: flex;
  width: 546px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  align-items: flex-end;
}

.contact-container {
  display: flex;
  width: 940px;
  justify-content: space-between;
  margin-bottom: 54px;
}

.footer-nav-items {
  display: flex;
  width: 523px;
  justify-content: space-between;
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-darkwhite);
}

.footer-contacts address {
  font-style: normal;
}

.footer-contacts a {
  color: var(--basic-darkwhite);
}

.footer-nav-items a {
  font-size: 18px;
  line-height: 24px;
  color: var(--special-yellowlight);
}

.footer-nav-items a:hover,
.footer-nav-items a:focus {
  text-decoration: underline;
}

.footer-nav-items a:active {
  opacity: 0.5;
}

.footer-social {
  background-color: #293449;
  padding-top: 34px;
  padding-bottom: 29px;
}

.wrapper-footer-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright p {
  width: 227px;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  color: var(--white);
}

.social-icon-list {
  display: flex;
}

.social-icon-link {
  position: relative;
  width: 44px;
  height: 44px;
  background-color: #212A3A;
  margin: 0 1px;
  border-radius: 22px;
}

.social-icon-link svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: var(--basic-red);
}

.social-icon-link:active {
  background-color: var(--basic-red);
}

.develop {
  display: flex;
  width: 286px;
  justify-content: space-between;
}

.develop p {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  color: var(--white);
}

.develop a {
  color: var(--special-yellowlight);
}

.develop a:hover,
.develop a:focus {
  text-decoration: underline;
}

.develop a:active {
  color: var(--basic-red);
  text-decoration: none;
}